
*{
  font-family: 'Shabnam';
}
body{
  background-color: #eeecec;
}
a{
  text-decoration: none;
}
.pagination{
  direction: ltr;
  display: flex;
  justify-content: center;
}
.pagination >span:first-child, .pagination >span:last-child{
  font-size: 14px;
}
.pagination >span{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  cursor: pointer;
  transition: transform 0.3s;
}
.pagination >span:hover{
  background-color: rgba(46, 137, 197,0.3);
}


